<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>梦中程序员管理后台--QQ:305530751</title>
    <link rel="shortcut icon" href="../../../public/static/admin/img/logo.jpg" type="image/x-icon">
    <link href="../../../public/static/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../public/static/admin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../../public/static/admin/css/weather-icons.min.css" rel="stylesheet" />
    <link href="../../../public/static/admin/css/beyond.min.css" rel="stylesheet" type="text/css" />
</head>



<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <?php include_once('/../application/admin/view/common/header.html');?>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
    {include file="common/left"/}

            <!-- Page Sidebar -->
            
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-home"></i>&nbsp;控制面板
                        </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Body -->
                <div class="page-body">
                	<div class="row">
                		<div class="col-xs-12">
                			<div class="well bordered-left bordered-themeprimary">
                				<h1 style="font-weight: 900!important;font-style: italic;text-shadow: 5px 5px 5px #ff0000;font-family: '新宋体'">
                					欢迎使用梦中程序员后台管理系统！
                				</h1>
                			</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-xs-12">
                			<div class="well with-header with-footer">
                				<div class="header bg-themeprimary">
                					服务器信息
                				</div>
                				<table class="table table-hover table-bordered">
                					<thead>
                						<tr>
                							<th colspan="2">服务器信息</th>
                						</tr>
                					</thead>
                					<tbody>
                						<tr>
                							<td>服务器域名</td>
                							<td>http://www.dreamphp.com.cn/</td>
                						</tr>
                						<tr>
                							<td>服务器IP地址</td>
                							<td>127.0.0.1</td>
                						</tr>
                						<tr>
                							<td>服务器端口</td>
                							<td>80</td>
                						</tr>
                						<tr style="font-weight: bold;text-align: center;text-shadow: 2px 2px 2px #ff0000;font-style: italic;">
                							<td>拜师QQ</td>
                							<td>305530751</td>
                						</tr>
                						<tr>
                							<td>联系邮箱</td>
                							<td>leruge@163.com</td>
                						</tr>
                					</tbody>
                				</table>
                				<div class="footer">拜师请联系QQ:305530751</div>
                			</div>
                		</div>
                	</div>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->

        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>

    <script src="../../../public/static/admin/js/skins.min.js"></script>
    <!--Basic Scripts-->
    <script src="../../../public/static/admin/js/jquery.min.js"></script>
    <script src="../../../public/static/admin/js/bootstrap.min.js"></script>
    <script src="../../../public/static/admin/js/slimscroll/jquery.slimscroll.min.js"></script>
    <!--Beyond Scripts-->
    <script src="../../../public/static/admin/js/beyond.js"></script>
    <script>
        $(window).bind("load", function () {

            /*Sets Themed Colors Based on Themes*/
            themeprimary = getThemeColorFromCss('themeprimary');
            themesecondary = getThemeColorFromCss('themesecondary');
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            themefourthcolor = getThemeColorFromCss('themefourthcolor');
            themefifthcolor = getThemeColorFromCss('themefifthcolor');

        });
    </script>
</body>
<!--  /Body -->
</html>
